<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxq.mobile.doctor.visit.mapper.CaseGroupMapper">

  <resultMap id="BaseResultMap" type="com.hxq.mobile.entity.visit.CaseGroup">
    <id column="uuid" property="uuid" jdbcType="VARCHAR"/>
    <result column="delFlag" property="delFlag" jdbcType="VARCHAR"/>
    <result column="opeTime" property="opeTime" jdbcType="VARCHAR"/>
    <result column="oper" property="oper" jdbcType="VARCHAR"/>
    <result column="createTime" property="createTime" jdbcType="VARCHAR"/>
    <result column="groupName" property="groupName" jdbcType="VARCHAR"/>
    <result column="note" property="note" jdbcType="VARCHAR"/>
    <result column="state" property="state" jdbcType="VARCHAR"/>
    <result column="doctorUuid" property="doctorUuid" jdbcType="VARCHAR"/>
  </resultMap>

  <sql id="Base_Column_List">
    uuid, delFlag, opeTime, oper, createTime, groupName, note, state, doctorUuid
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from case_group
    where uuid=#{uuid,jdbcType=VARCHAR}
  </select>

  <select id="selectByDoctorUuid" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from case_group
    where doctorUuid=#{doctorUuid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from case_group where uuid=#{uuid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.hxq.mobile.entity.visit.CaseGroup">
    insert into case_group (uuid, delFlag, opeTime, oper, createTime, groupName, note, state, doctorUuid)
    values (#{uuid,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{opeTime,jdbcType=VARCHAR}, 
      #{oper,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{doctorUuid,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.hxq.mobile.entity.visit.CaseGroup">
    insert into case_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">uuid,</if>
      <if test="delFlag != null">delFlag,</if>
      <if test="opeTime != null">opeTime,</if>
      <if test="oper != null">oper,</if>
      <if test="createTime != null">createTime,</if>
      <if test="groupName != null">groupName,</if>
      <if test="note != null">note,</if>
      <if test="state != null">state,</if>
      <if test="doctorUuid != null">doctorUuid,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">#{uuid,jdbcType=VARCHAR},</if>
      <if test="delFlag != null">#{delFlag,jdbcType=VARCHAR},</if>
      <if test="opeTime != null">#{opeTime,jdbcType=VARCHAR},</if>
      <if test="oper != null">#{oper,jdbcType=VARCHAR},</if>
      <if test="createTime != null">#{createTime,jdbcType=VARCHAR},</if>
      <if test="groupName != null">#{groupName,jdbcType=VARCHAR},</if>
      <if test="note != null">#{note,jdbcType=VARCHAR},</if>
      <if test="state != null">#{state,jdbcType=VARCHAR},</if>
      <if test="doctorUuid != null">#{doctorUuid,jdbcType=VARCHAR},</if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hxq.mobile.entity.visit.CaseGroup">
    update case_group
    <set>
      <if test="delFlag != null">delFlag=#{delFlag,jdbcType=VARCHAR},</if>
      <if test="opeTime != null">opeTime=#{opeTime,jdbcType=VARCHAR},</if>
      <if test="oper != null">oper=#{oper,jdbcType=VARCHAR},</if>
      <if test="createTime != null">createTime=#{createTime,jdbcType=VARCHAR},</if>
      <if test="groupName != null">groupName=#{groupName,jdbcType=VARCHAR},</if>
      <if test="note != null">note=#{note,jdbcType=VARCHAR},</if>
      <if test="state != null">state=#{state,jdbcType=VARCHAR},</if>
      <if test="doctorUuid != null">doctorUuid=#{doctorUuid,jdbcType=VARCHAR},</if>
    </set>
    where uuid=#{uuid,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hxq.mobile.entity.visit.CaseGroup">
    update case_group set
      delFlag=#{delFlag,jdbcType=VARCHAR},
      opeTime=#{opeTime,jdbcType=VARCHAR},
      oper=#{oper,jdbcType=VARCHAR},
      createTime=#{createTime,jdbcType=VARCHAR},
      groupName=#{groupName,jdbcType=VARCHAR},
      note=#{note,jdbcType=VARCHAR},
      state=#{state,jdbcType=VARCHAR},
      doctorUuid=#{doctorUuid,jdbcType=VARCHAR}
    where uuid=#{uuid,jdbcType=VARCHAR}
  </update>
</mapper>