<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.hxq.mobile.weixin.repository.CszyEvaluationDao">

	<resultMap id="CszyEvaluationResultMap" type="com.hxq.mobile.entity.weixin.CszyEvaluation">
		<id property="id" column="id" />
		<result property="subjectId" column="subject_id" />
		<result property="minValue" column="min_value" />
		<result property="maxValue" column="max_value" />
		<result property="result" column="result" />
		<result property="analys" column="analys" />
		<result property="recommendTitle" column="recommend_title" />
		<result property="recommendUrl" column="recommend_url" />
		<result property="recommendDoctor" column="recommend_doctor" />
	</resultMap>

	<resultMap id="ProfessionResultResultMap" type="com.hxq.mobile.entity.weixin.ProfessionResult">
		<id property="id" column="id" />
		<result property="subjectId" column="subject_id" />
		<result property="openid" column="openid" />
		<result property="completeDate" column="complete_date" />
		<result property="score" column="score" />
		<result property="integral" column="integral" />
	</resultMap>
	
	<select id="queryAll">
	     select * from cs_zy_evaluation
	</select>
	
	<select id="selectByPK" parameterType="string">
	     select * from cs_zy_evaluation where id = #{id}
	</select>

	<select id="queryByProfessionResult" parameterType="com.hxq.mobile.entity.weixin.ProfessionResult" resultType="com.hxq.mobile.entity.weixin.CszyEvaluation">
		select * from cs_zy_evaluation where subject_id = #{subjectId} AND max_value >= #{score} AND #{score} >= min_value
	</select>
	
	<insert id="insert" parameterType="com.hxq.mobile.entity.weixin.CszyEvaluation">
	     insert into cs_zy_evaluation (id,subject_id,openid,complete_date,score,integral) 
	     values(#{id},#{subjectId},#{openId},#{completeDate},#{score},#{integral})
	</insert>
	
</mapper>
